.home-container {
    text-align: center;
    padding: 100px 0;
  }
  
  .welcome {
    font-size: 2.5rem;
    color:  #00fff0;
    margin-bottom: 30px;
  }
  
  /* .app-description {
    max-width: 600px;
    margin: 0 auto 40px;
    text-align: left;
    background-color: #1b1a1b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  } */

  .app-description{
    max-width: 600px;
    margin: 0 auto 40px;
    text-align: left;
    padding: 20px;
    background-color: rgba(24, 24, 36, 0.95);
    border-radius: 10px;
    border: 1px solid #00fff0;
    box-shadow: 0 0 20px rgba(128, 0, 255, 0.3),
                0 0 40px rgba(128, 0, 255, 0.2);
    width: 90%;
    /* max-width: 400px; */
    backdrop-filter: blur(10px);
  }
  
  .app-description h2 {
    color:  #00fff0;
    margin-top: 0;
  }
  
  .app-description ul {
    padding-left: 20px;
  }
  
  .app-description li {
    margin-bottom: 10px;
  }
  
  .cta-section {
    margin-top: 30px;
  }
  
  .cta-button {
    /* background-color: #00fff0; */
    background: linear-gradient(45deg, #9900ff, #00fff0);
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .cta-button:hover {
    background: linear-gradient(45deg, #4f0183, #004a45);
    color:#ff00cc;
  }
  
  @media (max-width: 768px) {
    .welcome {
      font-size: 2rem;
    }
    
    .app-description {
      padding: 15px;
    }
  }